.LadoDireito{
    display: flex;
    margin: 0 15vh;
}

.Perfil img{

    margin: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  
}

.Perfil{
    
    font-size:  16,8px;
    font-weight: bold;
    margin: 18px 0 ;
    
}
.NomePerfil{
    margin: 3px 10px;
}
.nome span {
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}