.SobreMais{
    display: flex;
    gap:2px;
    flex-wrap: wrap;
    font-size: 12px;
    color: #C7C7C7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px 16px;
    cursor: pointer;
}

.SobreMais span:hover{
    color: #d9d9d9;
    text-decoration: underline;
}

.copyright{
    color: #C7C7C7;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.About{
    padding: 0 0 38px;
}