.LadoDireito{
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
    padding: 30px 0 0;
    margin-right: 130px;
}

.parte1{
    width: 319px;
    height: 56px;
}
.sugestoes {
    margin: 24px 0 12px 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 319px;
    padding: 8px 0px;
}


.link{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 319px;
    padding: 8px 0px;
}
.TT{
    display: flex;
    gap: 100px;
    padding: 8px 16px;
}

.TT .PT1{
    color: #737373;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.TT .PT2{
    color: #000000;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.SugestaoSeguidos{
    font-size: 12px;
}

@media (max-width: 800px){
    .LadoDireito{
        visibility: hidden;
    }
}

