.Perfil img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    cursor: pointer;
}




.Tudo{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    
}

.Textinho{
    display: flex;
    flex-direction: column;
    margin-left:25px;
    color: #000000;
    margin-right: 79px;
}

.NomeUsuario{
    cursor: pointer;
}

.NomePerfil {
    color: #737373;
    font-size: 14px;
}

.Mudar{
    cursor: pointer;
    color: #0095f6;
    font-size: 12px;
    margin-left: 10px;
}

.Mudar:hover{
    color: #80ccff;
}

